body {
    margin: 0;
    padding: 0px;
    font-family: "Climate Crisis";
    background-color: #F6F6F6;
}

main {
    max-width: 1410px;
    padding: 48px;
    margin: 0 auto;
}

main:has(.recipe) {
    max-width: 1170px;
}

h1 {
    font-family: climate crisis, sans-serif;
    font-size: 48px;
}

h2 {
    margin: 0
}

:root {
    --light-grey: #696969;
}

/* Styles for header */
header {
    background: var(--white, #FFF);
    box-shadow: 0 4px 22.6px 0 rgba(0, 0, 0, 0.05);
}

/* rename to logo, move to header blco */
header .logo {
    height: 40px;
    width: auto;
    padding: 16px 48px
}



/* Styles for card container */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;

}

.card {
    border-radius: 15px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding-bottom: 24px;

}

.card :hover {
    transform: scale(1.02);
}

.card .frame img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card__details {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
}

.card .card__details__data {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.card .time {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 30;
    font-family: "Open Sans", sans-serif;
    color: var(--light-grey);
}

.card button {
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: var(--light-grey);


}

.card button :hover {
    transform: scale(1.2);



}




/* style img*/
.recipe-img {
    border-radius: 15px;




}

/* links*/
a {
    text-decoration: none;
    color: black;
}


/* recipe details page */
article.recipe {
    border: 1px solid red;




}


article.recipe .frame {
    border: 1px solid blue;
    aspect-ratio: 4 / 3;
}

article.recipe .frame img {
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article.recipe button {
    border: none;
    background-color: #F6F6F6;

}



.recipe .time {
    color: var(--grey-dark, #696969);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

    display: flex;



}

.recipe .time img {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    padding-top: 3.5px
}

article.recipe .recipe__title__details {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;




}

article.recipe button img {
    width: 24px;
    length: 24px;
    padding: 3.5px;

}

article.recipe {
    font-family: open sans;
}

article.recipe h2 {
    font-family: climate crisis;
    padding-left: 0px;
}

article.recipe .recipe__preparation {
    border: 1px solid green;
}

article.recipe .recipe__preparation {
    text-align: start;



}

article.recipe .recipe__preparation tr {
    padding-bottom: 20x;

}