img {
    position: relative;
    max-width: 70%;
    opacity: 25%;
    border-radius: 10px
}
img:hover{
    opacity: 100%;
    box-shadow:orange 0px 0px 25px 10px;
    transform: scale(1.05);
}


a:has(img){
    display: flex;
    position: relative;
}

/* a:has(img)::after { 
    display: block;
    content: "";
    position: absolute;
    inset: 0;
    background-color: orange;
    z-index: -1;
} */

a.back-link {

    color: rgb(0, 0, 0);
    border: 1px solid white; /* Add this line for the border */
    display: inline-block;
    padding: 2px; /* Add padding for better appearance */
    position: relative;
    text-align: center;
    font-size: 14px;
    border-radius:10px ;
    background-color: white;
    text-decoration: none; /* Optional: remove underline */
    
    
}
a.back-link:hover {
    background-color: orange;
    color: white;
    border-color:white;
}
   

.title {
    color: white;

}

body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
}


h1 {font-size: 20px;


}


ul.recipe-teaser > li + li{
    border: 1px solid red;
    margin-top: 40px;
}
img.realtaco:hover{margin-bottom:60px ;
                   display:show
    
    

}
img.realtaco{
    margin-bottom:0px ;
    
    

}

h4{
    color: white;
    display:none;
}