body {
    margin: 0;
    padding: 0px;
    font-family: "Climate Crisis";
    background-color: #F6F6F6;
}

main {
    max-width: 1410px;
    padding: 48px;
    margin: 0 auto;
}

main:has(.recipe) {
    max-width: 1170px;
}

h1 {
    font-family: climate crisis, sans-serif;
    font-size: 48px;
}



:root {
    --light-grey: #696969;
}

/* Styles for header */
header {
    background: var(--white, #FFF);
    box-shadow: 0 4px 22.6px 0 rgba(0, 0, 0, 0.05);
}

/* rename to logo, move to header blco */
header .logo {
    height: 40px;
    width: auto;
    padding: 16px 48px
}



/* Styles for card container */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;

}

.card {
    border-radius: 15px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding-bottom: 24px;

}

.card :hover {
    transform: scale(1.02);

}


.card .frame img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card__details {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
}

.card .card__details__data {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card .time {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 30;
    font-family: "Open Sans", sans-serif;
    color: var(--light-grey);
}

.card button {
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: var(--light-grey);


}

.card button :hover {
    transform: scale(1.2);


}




/* style img*/
.recipe-img {
    border-radius: 15px;




}

/* links*/
a {
    text-decoration: none;
    color: black;
}


/* recipe details page */
article.recipe>div+div {
    margin-top: 93px;
}


article.recipe .frame {

    aspect-ratio: 4 / 3;
}

article.recipe .frame img {
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.recipe .time {
    color: var(--grey-dark, #696969);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;

    display: flex;
    align-items: center;
    gap: 8px
}

.recipe .time img {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

article.recipe .recipe__title__details {
    display: flex;
    justify-content: space-between;


}

article.recipe button img {
    width: 24px;
    height: 24px;
    padding: 3.5px;


}

#bookmark {
    border: none;
    background: #F6F6F6;
}

article.recipe {
    font-family: open sans;
}

article.recipe h2 {
    font-family: climate crisis;
    padding-left: 0px;
}




.recipe__backlink {
    display: flex;
}

.button {
    display: flex;
    padding: 16px 20px;
    font-family: "Climate Crisis";
    font-size: 16px;
    border-radius: 500px;
    background: var(--primary, #F7307C);
    color: #FFF;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}


.recipe__preparation ol li {
    padding-bottom: 48px;
}

/* Table styling */

/* style 1st column */

.recipe__ingredients table {
    border-collapse: collapse;
    margin-top: 32px;
}

.recipe__ingredients table td {
    padding-block: 30px;
    font-size: 24px;
}

.recipe__ingredients td:nth-child(-n+1) {
    min-width: 185px;
    font-weight: 700
}

/*style 2nd column */
.recipe__ingredients td:nth-child(n+2) {
    border: none;

}

.recipe h2 {
    padding-top: 34px;
    font-weight: 700;
    font-size: 24px;

}



input {
    width: 90px;
    height: 45px;
    border: 1px solid #696969;
    font-size: 20px;
    display: flex;
    text-align: center;
    appearance: hide;
    -webkit-appearance: none;
    font-weight: 700
}

.plus_minus button {
    background-color: #F7307C;
    padding: 16px 20px;
    gap: 10px;
    border-radius: 500px;
    color: #FFF;
    border: none;
    width: 60px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;




}

.plus_minus button:hover {
    filter: brightness(80%);

}

.plus_minus button:active {
    transform: scale(98%);
}

.plus_minus {

    display: flex;
    align-items: center;
    gap: 18px;

}

.plus_minus img {
    width: 20px;
    height: 20px;
    padding: none;


}

.plus_minus p {
    color: var(--black, #000);
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.recipe__preparation ol {
    list-style: none;
}

ol p {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 10.586px;
    justify-content: center;
    align-items: center;
    gap: 7.241px;
    background-color: #F7307C;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-radius: 60px;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 23px;
    font-weight: 400;
    font-family: climate crisis, open sans;
    color: white;


}



ol {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;




}

ol li {
    display: flex;
    align-items: center;
}

#number2 {
    width: 27px;
}

.bookmark {
    background: #F6F6F6;
    border: none;
}

.bookmark :hover {
    scale: 140%;
}

.img-riz {
    margin-bottom: 45px;
    width: 281px;
    height: 50%
}